.App {
  display:flex;
  flex-direction: column;
  text-align: center;
  background-color: 	#F5F5F5;
}
li{
  margin-left: 10px;
  margin-right: 0px;
}
.help{
  display: none;
}
.top{
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  touch-action: manipulation;
  background-color: white;
  flex-grow: 1;
}
.help{
  display: none;
}
.shadow{
  display:flex;
  flex-direction: column;
  flex-grow: 1;
}

#root{
  display: flex;
  justify-content: center;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.content{
  display: flex;
  flex-grow: 1;
  background-color: white;
}

.title{
  color:rgba(175, 47, 47, 0.15);
  font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 300;
    font-stretch: normal;
    font-size: 120px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 0px;
    margin-top:20px;
    text-align: center;
}

.hiddenLabel{
  position: absolute;
    height: 1px;
    width: 1px;
    clip: rect(1px,1px,1px,1px);
    border: 0;
    overflow: hidden;
}


#todo{
  display: flex;
  align-self: center;
  height: 50px;
  outline: none;
  border:none;
  // padding: 20px;
  border-radius: 0%;
  flex-grow: 1;
  background-color: white;
  padding: 10px;
  font-size: 20px;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: inherit;
}
.btn{
  align-self: flex-start;
  padding-top: 14px;
  display: none;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor: default;
  overflow: hidden;
  outline:none;
  font-size: 14px;
}
#checkbox{
  border-radius: 50%;
  display:flex;
  justify-content: flex-start;
}
.border-bottom{
  border:1px solid gray;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:490px;
  align-self: center;
}
.body{
  display: flex;
  justify-content: center;
  transition: transform ease-in 200ms;
  // border-bottom: 0.25px solid lightgrey;
}

.deletelist{
  display: none;
}
.editInput{
  flex-grow: 1;
  height:15px;
  padding: 15px 0;
  &.saveEdit{
    display: flex;
  }
  &:focus ~ button.btn {
    display: none;
  }
  font-size: 24px;
}
.list{
 display: flex;
 flex-direction: row;
 width:460px;
 justify-content: space-between;
 background-color: white;
 border-top: 0.25px solid lightgray;
 border-bottom: 0.25px solid lightgray;
 padding: 0 10px;
 border-block-end: #4d4d4d;
}
.footer{
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.btns{
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width:477px;
  border-top:0.5px solid lightgray;
  flex-flow: nowrap;
  padding: 7px;
}
.fullbody{
  display: flex;
  flex-direction: column;
  height:100%;
}
.sidebar{
  display: none;
  
}

.list .btn{
  display: flex;
  // color:rgb(173, 168, 214);
  color:#c71d1d;
  font-size:20px;
  flex-shrink: 0;
}
.all-btn{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  margin-left: 10px;
  &.active{
    border:0.5px solid rgba(175, 47, 47, 0.15);
    border-radius: 10px; 
  }
}

.all-btn:hover {
  border:0.5px solid rgba(175, 47, 47, 0.15);
  border-radius: 10px;
  
}
.active-btn{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  margin-left: 10px;
  &.active{
    border:0.5px solid rgba(175, 47, 47, 0.15);
    border-radius: 10px; 
  }
}
.active-btn:hover {
  border:0.5px solid rgba(175, 47, 47, 0.15);
  border-radius: 10px;
}
.drop{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  background-color: white;
}
.comp-btn{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  margin-left: 10px;
  &.active{
    border:0.5px solid rgba(175, 47, 47, 0.15);
    border-radius: 10px; 
  }
}
.comp-btn:hover {
  border:0.5px solid rgba(175, 47, 47, 0.15);
  border-radius: 10px;
}

.ileft{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.clr-comp{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
.clr-comp:hover{
  text-decoration-line: underline;
}
.rightArrow{
  display: none;
}
.ele{
  display: flex;
  list-style-type: none;
  flex: 1 0 0;
  padding: 14px 0;  
  word-break: break-all;
  // min-width: 270px;
  // max-width: 370px;
  text-align: left;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
}



.container {
  min-height: 48px;
  min-width: 48px;
  align-self: flex-start;
  display: flex;
  position: relative;
  cursor: none;
  font-size: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 14px;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  cursor:default;
  margin-top: 5px;
}
.newMenu{
  display: none;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #012b72;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.dragOver{
 background-color:#012b72;
}


.wrapper {
  padding-right: 6px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.three-btn{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5px;
  margin-top: 10px;
}
.btn-clrcomp{
  display: flex;
  flex-direction: row;
  align-self: center;
}

@media (max-width:650px){
  .footer{
    position: fixed;
    width:100%;
    // margin-bottom: 105px;
  }
  html{
    height:100%;
  }
  body{
    height: 100%;
    
  }
  body, #root , .App , .shadow, .list, .header, .title, .top, #todo, .body, .content{
    width:100%;
  }
  .dragOver{
     background-color:#6394e9;
    }
  
  .ele{
    margin: 0px;
    margin-top:0px;
    margin-bottom: 0px;
    flex-grow: 1;
    font-size:20px;
  }
  .list{
    padding-right: 0;
  }
  .body{
  }
  .content{
    width: 100%;
    margin-top: 118px;
    flex-direction: column;
    margin-bottom: 116px;
  }
  .title{
    display: flex;
    flex-direction: row;
    // justify-content: flex-start;
    position:-webkit-sticky;
    align-self: center;
    position: fixed;
    top:0;
    height:48px;
    z-index: 5;
    background:#012b72;
    text-transform: uppercase;
    color: white;
    font-size:22px;
    letter-spacing: 5px;
    margin-top: 0;
  }
  #inner{
    width:100%;
  }
  .header{
    position:-webkit-sticky;
    position: fixed;
    top:0px;
    z-index: 5;
    margin-top:48px;
  }
  .all-btn{
    font-size: 17px;
    border:0.5px dashed black;
  }
  .active-btn{
    font-size: 17px;
    border:0.5px dashed black;
  }
  .inner{
    max-width: 100%;
    width:100%;
  }
  .comp-btn{
    font-size: 17px;
    border:0.5px dashed black;
  }
  .all-btn.active{
    border:0.5px dashed black;
    background:#012b72;
    color:white;
    border-radius:0%;
  }
  .active-btn.active{
      border:0.5px dashed black;
      background:#012b72;
      color:white;
      border-radius:0%;
  }
  .comp-btn.active{
    border:0.5px dashed black;
    background:#012b72;
    color:white;
    border-radius:0%;
  }
  .btns{
    display: flex;
    flex-direction: column;
  }
  .ileft{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 75%;
  }
  .noItemsLeft{
    display: flex;
    align-self: start;
    margin-left: 10px;
  }
  .three-btn{
    height:35px;
    justify-content: space-evenly;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  #todo::placeholder{
    color: #dedede;
  }
  .clr-comp{
    padding:1;
    font-size: 16px;
    width:min-content;
    align-self: self-start;
    white-space: nowrap;
    text-decoration-line: underline;
    text-decoration-style: solid;
  }
  .drop{
    height:70px;
    width:15%;
    display: flex;
    justify-content: center;
    width:15%;
    font-size: 35px;
    color:#012b72;
    cursor:default;
  }
  .newMenu{
    display: flex;
  }

  .menu{
    font-size: 30px;
    margin-top: 5px;
    margin-left: 5px;
  }
  .menu2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 55px;
    flex-grow: 1;
    align-self: center;
    margin-right: 25px;
    font-size: 32px;
    font-weight: 300;
  }
  
  
  .sidebar{
    display: flex;
    height: 100%;
    position: fixed;
    top:0;
    transition: left 1.3s ease;
    z-index:5;
    &.close{
      left:-100%;
    }
    &.open{
      left:0;
    }
  }
  
  .fullbody{
    display:flex;
    height:100%;
  }
  .editInput{
    max-width:85%;
    font-size: 20px;
    &:focus + button.btn{
      display: none;
    }
  }
  .help-us{
    display: flex;
    justify-content: center;
    position: fixed;
    height:100%;
    width:100%;
    z-index:10;
    text-align: left;
    align-self: center;
    color: black;
    background-color: white;
    font-size:25px;
  }
  .border-bottom{
    border:1px solid gray;
  }
  .rightArrowWrapper{
    display: flex;
    height:70px;
    background-color: white;
  }
  .rightArrow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: #012b72;
    border: 1px solid #012b72;
    border-radius: 50%;
    height: fit-content;
    align-self: center;
    font-size: 25px;
    padding-left: 6px;
    padding-right: 4px;
    padding-bottom: 2px;
    margin-right: 8px;
  }
  .dummyRightArrow{
    display: flex;
    height:70px;
    background-color: white;
    width:20%;
  }
  
  .deletelist{
    display: flex;
    width: 100%;
    flex-direction: column;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
    height: 20%;
    background-color: white;
    position: fixed;
    transition: bottom 0.3s ease;
    z-index:5;
    &.close{
      bottom:-100%;
    }
    &.open{
      bottom:0;
    }
  }
  .overlay{
    position: fixed;
    top:0;
    height:100%;
    width:100%;
    transition: left 1.3s ease;
    background-color: rgba(0,0,0,0.5);
  }
  .help{
    display: flex;
    align-self: center;
    border:2px solid #012b72;
    border-radius: 50%;
    font-size: 23px;
    padding-top: 2px;
    padding-left: 8px;
    padding-right: 4px;
    margin-right: 10px;
    color:#012b72;
    background-color: white;
    font-weight: 700;
  }
  .saveEdit{
    display: flex;
    font-size:20px;
    border:1px solid #012b72;
    color:white;
    background-color: #012b72;
    border-radius: 50%;
    margin-right: 2px;
    padding-left:5px;
    padding-right: 3px;
    padding-bottom: 3px;
    margin-left:5px;
  }
  .share{
    display: flex;
    // fill: red;
    background-color: #012b72;
    height: 30px;
    margin-right: 15px;
    align-self: center;
    width: 34px;
  }
}