.et-titleWrapper{
    display: flex;
    flex-direction: row;
    width:100%;
    height:48px;
    padding-left: 10px;
}
.et-titleList{
    // margin-top:10px;
    display: flex;
    align-self:center;
    // margin-bottom: 10px;
    border:none;
    padding-left: 5px;
    width:100%;
    // text-align: center;
    outline: none;
    height: 47px;
    font-size:22px;
    background-color: gainsboro;
    border-radius: 20px;
    margin-right: 5px;
    // margin-top:3px;
}
.et-titleSaveButton{
    display: flex;
    align-self: center;
    background-color: #012b72;
    color: white;
    border:none;
    outline: none;
    white-space: nowrap;
    height:40px;
    font-size:15px;
    border-radius: 50%;
    padding-left: 12px;
    padding-right: 8px;
    padding-bottom: 2px;
    font-size:21px;
}
.et-btnWrapper{
    display: flex;
    height: 48px;
    background-color: white;
    padding-right: 5px;
}